Repository AlonKellner/finetune-setup-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, taplo-check, rumdl-check-fix, pytest

taplo-format:
  name: taplo-format
  entry: taplo fmt
  language: system

taplo-check:
  name: taplo-check
  entry: taplo check
  language: system

rumdl-check-fix:
  name: rumdl-check-fix
  entry: uvx rumdl check --fix
  language: system

pytest:
  name: pytest
  entry: uv run pytest tests
  language: system
  pass_filenames: false

fix: global ty check
  .pre-commit-config.yaml
Due: none

feat: optimizations
  src/finetune_setup_example/custom_datasets/compressed.py
  src/finetune_setup_example/custom_datasets/tar_s3.py
  src/finetune_setup_example/custom_wav2vec2/audio_utils.py
  src/finetune_setup_example/custom_wav2vec2/feature_extractor.py
  src/finetune_setup_example/specific_datasets/common_voice.py
Due: pytest

feat: upgrade images
  pyproject.toml
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
  src/mms_blog_post.a100.job.yaml
  src/mms_blog_post.a100_x2.job.yaml
  src/mms_blog_post.b200.job.yaml
  src/mms_blog_post.h100.job.yaml
  src/mms_blog_post.h200.job.yaml
  src/mms_blog_post.mi300x.job.yaml
  uv.lock
Due: taplo-format, taplo-check, pytest

fix: uv upgrade & unique chars log
  .pre-commit-config.yaml
  requirements.txt
  src/finetune_setup_example/specific_datasets/common_voice.py
  uv.lock
Due: pytest

fix: no dry epoch
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
Due: pytest

fix: pre-commit
  src/finetune_setup_example/custom_datasets/compressed.py
  src/finetune_setup_example/custom_datasets/remapped.py
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
  src/finetune_setup_example/specific_datasets/common_voice.py
Due: pytest

feat: eval options
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
Due: pytest

fix: integration
  pyproject.toml
  requirements.txt
  src/finetune_setup_example/custom_datasets/remapped.py
  src/finetune_setup_example/custom_datasets/tar_s3.py
  src/finetune_setup_example/custom_hf/length_sampler.py
  src/finetune_setup_example/custom_hf/trainer.py
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
  src/finetune_setup_example/specific_datasets/common_voice.py
  src/finetune_setup_example/specific_wav2vec2/processor.py
  uv.lock
Due: taplo-format, taplo-check, pytest

auto: .
  hp_sets/diff/0.yaml
  hp_sets/diff/1.yaml
  hp_sets/diff/2.yaml
  hp_sets/full/0.yaml
  hp_sets/full/1.yaml
  hp_sets/full/2.yaml
  src/mms_blog_post.hp_main.py
Due: pytest

auto: .
  pyproject.toml
  requirements.txt
  src/mms_blog_post.a100.job.yaml
  src/mms_blog_post.a100_x2.job.yaml
  src/mms_blog_post.b200.job.yaml
  src/mms_blog_post.h100.job.yaml
  src/mms_blog_post.h200.job.yaml
  src/mms_blog_post.mi300x.job.yaml
  uv.lock
Due: taplo-format, taplo-check

auto: .
  hp_sets/diff/0.yaml
  hp_sets/full/0.yaml
  src/mms_blog_post.hp_main.py
Due: pytest

auto: .
  hp_sets/diff/0.yaml
  hp_sets/full/0.yaml
  requirements.txt
  src/mms_blog_post.hp_main.py
  uv.lock
Due: pytest

auto: .
  .pre-commit-config.yaml
  hp_sets/diff/1.yaml
  hp_sets/diff/2.yaml
  hp_sets/diff/3.yaml
  hp_sets/diff/4.yaml
  hp_sets/diff/5.yaml
  hp_sets/diff/6.yaml
  hp_sets/diff/7.yaml
  hp_sets/full/0.yaml
  hp_sets/full/1.yaml
  hp_sets/full/2.yaml
  hp_sets/full/3.yaml
  hp_sets/full/4.yaml
  hp_sets/full/5.yaml
  hp_sets/full/6.yaml
  hp_sets/full/7.yaml
  requirements.txt
  src/finetune_setup_example/custom_datasets/__init__.py
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
  src/finetune_setup_example/specific_datasets/common_voice.py
  src/mms_blog_post.hp_main.py
  uv.lock
Due: pytest

feat: subset languages
  src/finetune_setup_example/encoding_utils.py
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
  src/finetune_setup_example/specific_datasets/common_voice.py
  src/finetune_setup_example/specific_wav2vec2/processor.py
  src/mms_blog_post.hp_main.py
Due: pytest

fix: valid bucket name
  src/finetune_setup_example/encoding_utils.py
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
Due: pytest

fix: total_languages_name
  src/finetune_setup_example/mains/mms_common_voice_adaptune.py
Due: pytest

Path conditions:
  taplo-format: any of: \.toml$
  taplo-check: any of: \.toml$
  rumdl-check-fix: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$
